* {
    font-family: "JetBrains Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

main {
    max-width: 450px;
    margin: 10px auto;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 5px 0 5px 5px;
    color: #056565;
}

h3 {
    margin: 20px 20px 20px 20px;
    text-align: center;
    font-size: 18px;
    color: red;
}

a:link {
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: rgba(255, 255, 255, 0);
    h2{
        color: #129388;
    }
}

ul {
    list-style: none;
}

.logo {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin: 35px 0 15px 0;
    color: #056565;
}

hr {
    border: none;
    color: #cac9c9;
    background-color: #cac9c9;
    height: 1px;
    margin: 5px 3px;
}

.main-container{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.my-style {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.my-list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-gap: 7px;
}

.checkbox-label {
    display: inline-block;
    margin-right: 10px;
    height: 19px;
    width: 19px;
    accent-color: #129388;
    border-color: #044c4c;
    cursor: pointer;
}

.task-item {
    display: flex;
    align-items: center;
}

.task-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_id {
    margin: 5px 0 5px 0;
    color: #14ac9f;
    font-weight: bold;
}

.task-li {
    padding: 5px 5px;
    list-style-type: none;
    color: #5a5959;
    text-transform: capitalize;
}

.task-name {
    margin: 5px 0 5px 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 80% 15%;
    column-gap: 20px;
}

.text_list {
    text-transform: capitalize;
    cursor: pointer;
}

.text_list_isShow {
    color: #acabab;
    text-decoration: line-through;
}

button {
    border-radius: 5px;
    background-color: rgba(36, 159, 149, 0.6);
    border: 1px solid #ccc;
    padding: 10px 35px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(36, 159, 149);
}

.btn-add {
    text-align: right;
}

.input-create-item{
    width: 97%;
    margin: 5px 5px 5px 0;
    padding: 5px 5px;
    background-color: white;
    color: #6c6c6c;
    border: white;
    caret-color: #f36f06;
}

.btn-input {
    margin: 15px 0 5px 0;
    width: 98%;
    background-color: rgba(36, 159, 149, 0.6);
    color: #044c4c;
    cursor: pointer;
    transition: all 0.7s ease;
}

.btn-input:hover {
    background-color: rgb(36, 159, 149);
}

.btn-yes {
    color: white;
    background-color: #e45353;
    margin-right: 5px;
    padding: 8px 20px;
    cursor: pointer;
}

.btn-yes:hover {
    background-color: #aa3434;
}

.btn-no {
    color: white;
    background-color: #129388;
    cursor: pointer;
    padding: 8px 25px;
}

.btn-no:hover {
    background-color: #044c4c;
}

