* {
    font-family: "JetBrains Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

main {
    max-width: 450px;
    margin: 10px auto;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 5px 0 7px 0;
    color: #056565;
}

p {
    color: #292b2b;
    font-size: 16px;
}

a:link {
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: rgba(255, 255, 255, 0);
    h2{
        color: #129388;
    }
}

.logo {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin: 35px 0 15px 0;
    color: #056565;
}

hr {
    border: none;
    color: #cac9c9;
    background-color: #cac9c9;
    height: 1px;
    margin: 5px 3px;
}

.main-container{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.my-style {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.checkbox-label {
    display: inline-block;
    margin-right: 10px;
    height: 19px;
    width: 19px;
    accent-color: #129388;
    border-color: #044c4c;
    cursor: pointer;
}

.task-item {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 5px;
}

button {
    border-radius: 5px;
    background-color: rgba(36, 159, 149, 0.6);
    border: 1px solid #ccc;
    padding: 10px 35px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(36, 159, 149);
}

.btn-add {
    text-align: right;
}

.input-create-item{
    width: 97%;
    height: auto;
    margin: 5px 5px 5px 0;
    padding: 5px 5px;
    background-color: white;
    border: white;
    text-transform: capitalize;
    color: #292b2b;
    font-size: 16px;
    caret-color: #f36f06;
}

.btn-input {
    margin: 15px 0 5px 0;
    width: 98%;
    background-color: rgba(36, 159, 149, 0.6);
    color: #044c4c;
    cursor: pointer;
    transition: all 0.7s ease;
}

.btn-input:hover {
    background-color: rgb(36, 159, 149);
}

